@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
figcaption {
  font-size: 15px;
  color: #fffad9;
  font-style: italic;
  text-align: center;
  padding: 20px 0px 0px 0px;
  line-height: 1.2;
}
body {
  background-color: black;
  color: white;
  font-family: "Libre Caslon Text", serif;
  background-image: url(https://files.catbox.moe/35ith6.webp);
}
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  background-color: #000;
  color: #fffad9;
  font-family: Caudex, serif;
  font-weight: 700;
  font-size: 3em;
  font-style: normal;
}
h2 {
  text-align: center;
}
h3 {
  background-color: #000;
  color: #fffad9;
  font-family: Caudex, serif;
  font-weight: 700;
  font-size: 1.75em;
  font-style: normal;
}
a {
  color: #fffad9;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: underline;
}
.column {
  float: left;
}
#navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-evenly;
}
#navbar li {
  padding-top: 10px;
}
#navbar li a {
  color: #fff;
  font-weight: 800;
  text-decoration: none;
}
#navbar li a:hover {
  color: #fffad9;
  text-decoration: underline;
}
#dog { 
  max-width: 200px; 
  height: auto;
  position: fixed; 
  left: 37px; 
  top: 9px; 
  z-index: 200;
}

.element {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
#box {
  border-radius: 20px;
  border: solid;
  border-width: 5px;
  border-color: red;
  height: 0;
  width: 20%;
  padding-bottom: 20%;
  background-color: black;
  margin: auto;
  text-align: center;
  color: green;
}
#title {
  border-radius: 20px;
  background-color: black;
  border: solid;
  padding: 0px 20px 20px 20px;
  text-align: center;
}
#navbar {
  border-radius: 20px;
  background-color: black;
  margin-top: 10px;
  border: solid;
  padding: 10px 20px 20px 20px;
}
#main {
  border-radius: 20px;
  background-color: black;
  border: solid;
  margin-top: 10px;
  padding: 10px 20px 20px 20px;
  text-align: left;
  line-height: 1.8;
}
#sketch {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white;
  border-radius: 20px;
}
#badges {
  border-radius: 20px;
  background-color: black;
  margin-top: 10px;
  border: solid;
  text-align: center;
  padding: 0 20px 0 20px;
}
#contact {
  border-radius: 20px;
  background-color: black;
  margin-top: 10px;
  border: solid;
  text-align: left;
  padding: 0 20px 20px 20px;
}
#mailgif {
  float: right;
  width: 90px;
  height: 90px;
}
#mailgif2 {
  float: center;
  width: 107px;
  height: 35px;
}
#footer {
  border-radius: 20px;
  margin-top: 10px;
  text-align: center;
  background-color: black;
  color: #fffad9;
  border: solid;
  border-color: white;
  padding: 0 20px 0 20px;
}
#gbook {
  border-radius: 20px;
  background-color: #000;
  margin-top: 10px;
  border: solid;
  text-align: center;
  height: 1500px;
  width: 99.5%;
}

@media (max-width: 850px) {
  .element {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #dog {
    display: none;
  }
  #mailgif {
    display: none;
  }
  #sketch {
    width: 50%;
  }
  #gbook {
    width: 98.7%;
  }
  #box {
    width: 100%;
    height: 100%;
  }
}
